<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Swagger UI</title>
  </head>
  <body>
    <redoc spec-url="<%- doc %>"></redoc>
    <script src="//rebilly.github.io/ReDoc/releases/latest/redoc.min.js"> </script>
  </body>
</html>
